body {
  font-family: Arial, sans-serif;
  background-color: rgb(40, 40, 40);
  font-weight: bold;
  color: white;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

.made-by {
  text-align: center;
  color: rgb(255, 190, 77);
  font-weight: bold;
  flex: 1;
  margin-left: 200px;
}

.made-by-me {
  text-align: center;
  color: rgb(255, 190, 77);
  font-weight: bold;
}

.update {
  color: rgb(255, 190, 77);
  font-weight: bold;
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  background-color: rgb(40, 40, 40);
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
/* Accordion button style */
.accordion {
  color: white;
  font-weight: bold;
  background-color: rgb(80, 27, 80);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.accordion:hover {
  background-color: purple;
}

.panel {
  display: none;
  padding: 10px;
  background-color: rgb(80, 27, 80);
  overflow: hidden;
}
/* item search bar*/
.header-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(40, 40, 40);
}

.search-bar {
  display: flex;
  align-items: center;
}

#searchBar {
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 4px;
  margin-right: 10px;
}

#searchButton {
  padding: 6px 12px;
  font-size: 16px;
  background-color: rgb(80, 27, 80);
  color: rgb(80, 80, 80);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#searchButton:hover {
  background-color: purple;
}

.item-id img,
.raid-id img,
.spacetime-id img,
.redeemer-id img {
  width: 50px;
  height: 50px;
}

.item-id,
.raid-id,
.spacetime-id,
.redeemer-id {
  width: 50px;
}
.panel img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.panel li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  background-color: rgb(80, 27, 80);
  padding: 6px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  font-weight: bold;
}

.nav-button {
  font-weight: bold;
  flex: 1;
  border: none;
  padding: 20px;
  background-color: rgb(80, 27, 80);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-button.active {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.nav-button:hover {
  background-color: purple;
  color: white;
  font-weight: bold;
}

.nav-buttons > *:not(:last-child) {
  border-right: 2px solid purple;
  font-weight: bold;
}

.nav-button:hover:not(.active) {
  background-color: purple;
  font-weight: bold;
}

.separator {
  border-left: 1px solid #fff;
  height: 100%;
  margin: 0 10px;
}

table thead th {
  position: sticky;
  top: 0;
  background-color: rgb(80, 27, 80);
  z-index: 1;
  color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.panel li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel li img {
  margin-right: 10px;
}

.panel li .item-details {
  display: flex;
  align-items: center;
}

.panel li .item-quantity {
  margin-left: auto;
  margin-right: 5px; /* Add margin to create space between quantity and name */
}

.tuning-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.surplus-button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.advance-button {
  background-color: rgb(32, 146, 93);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto; /* Questo lo posiziona a destra */
  font-weight: bold;
  vertical-align: middle;
}

.tuning-button:hover,
.surplus-button:hover,
.advance-button:hover {
  background-color: purple;
}
.header-with-button {
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 10px 0;
}
.header-with-button-raid {
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 5px 0;
}

.header-with-button h2 {
  margin: 0;
  padding: 0;
}

.tabella-scroll {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonne */
  gap: 10px;
  width: 100%; /* Occupa tutta la larghezza disponibile */
  max-width: none; /* Rimuove eventuali limiti di larghezza */
  margin: 0; /* Rimuove margini */
}

.box-scroll {
  font-size: 15px;
  background-color: rgb(80, 27, 80);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: purple;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.pic-3 {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 22px;
}

.panel-scroll {
  display: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  margin-top: 10px;
}

.accordion-scroll {
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: center;
  width: 100%;
  transition: 0.4s;
  margin-top: 5px;
}

.accordion-scroll:hover {
  background-color: rgb(255, 190, 77);
  color: black;
}

.icon-title {
  width: 40px; /* Dimensione dell'icona */
  height: 40px;
  vertical-align: middle; /* Allinea l'icona con il testo */
  margin-right: 8px; /* Spazio tra icona e testo */
}

.stat-scroll-up {
  color: greenyellow;
}
.stat-scroll-down {
  color: red;
}

.stat-scroll-drop {
  color: rgb(255, 190, 77);
}

.intestazione {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.int-sinistra {
  flex: 1;
  margin-top: 3px;
}
.int-centro {
  background: linear-gradient(
    to right,
    rgb(70, 143, 58) 25%,
    rgb(66, 125, 231) 25% 50%,
    rgb(178, 94, 198) 50% 75%,
    rgb(205, 87, 69) 75% 100%
  );
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(255, 190, 77);
  flex: 1;
}
.int-destra {
  flex: 1;
  margin-top: 3px;
}
.titolo {
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  text-decoration: underline;
}
.tabella {
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
}

.riquadro-green {
  background-color: rgb(70, 143, 58);
}
.riquadro-blue {
  background-color: rgb(66, 125, 231);
}
.riquadro-purple {
  background-color: rgb(178, 94, 198);
}
.riquadro-orange {
  background-color: rgb(205, 87, 69);
}
.riquadro-green,
.riquadro-blue,
.riquadro-purple,
.riquadro-orange {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 190, 77);
  border-radius: 5px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}
.box-pic {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.testo-nome,
.testo-statistics {
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding: 4px;
  text-align: center;
}
.box-statistics-green,
.box-cost-green {
  background-color: rgb(70, 143, 58);
}
.box-statistics-blue,
.box-cost-blue {
  background-color: rgb(66, 125, 231);
}
.box-statistics-purple,
.box-cost-purple {
  background-color: rgb(178, 94, 198);
}
.box-cost-orange,
.box-statistics-orange {
  background-color: rgb(205, 87, 69);
}

.box-statistics-green,
.box-statistics-blue,
.box-statistics-purple,
.box-statistics-orange {
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-size: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 190, 77);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.box-cost-green,
.box-cost-blue,
.box-cost-purple,
.box-cost-orange {
  color: rgb(10, 10, 10);
  font-weight: bold;
  font-size: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 190, 77);
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.testo-costo-upgrade {
  margin-left: 30px;
}
.box-container {
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: purple;
  border-radius: 10px;
  background-color: rgb(80, 27, 80);
  margin-bottom: 40px;
}
